{% extends 'base.html.twig' %}

{% block title %}Student index
{% endblock %}

{% block body %}
	<h1>{% trans %}Student index{% endtrans %}</h1>
	<a href="{{ path('app_student_new') }}" class="btn btn-primary btn-lg" role="button">{% trans %}Create new{% endtrans %}</a>
	<a href="#" class="btn btn-primary btn-lg" role="button">Exporter la liste des étudiants</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>{% trans %}Lastname{% endtrans %}</th>
				<th>{% trans %}Firstname{% endtrans %}</th>
				<th>{% trans %}Gender{% endtrans %}</th>
				<th>{% trans %}Mas{% endtrans %}</th>
				<th>{% trans %}Objective{% endtrans %}</th>
				<th>{% trans %}Score{% endtrans %}</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
				<tr>
					<td>{{ student.id }}</td>
					<td>{{ student.lastname }}</td>
					<td>{{ student.firstname }}</td>
					<td>{{ student.gender }}</td>
					<td>{{ student.mas }}</td>
					<td>{{ student.objective ? student.objective|date('H:i:s') : '' }}</td>
					<td>{{ student.note}}</td>
					<td>
						<a href="{{ path('app_student_show', {'id': student.id}) }}" class="btn btn-primary btn-lg" role="button">{% trans %}show{% endtrans %}</a>
						<a href="{{ path('app_student_edit', {'id': student.id}) }}" class="btn btn-primary btn-lg" role="button">{% trans %}edit{% endtrans %}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">{% trans %}no records found{% endtrans %}</td> 
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form action="{{ path('app_student_delete_all') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all students?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
		<button type="submit" class="btn btn-danger">{% trans %}Clear all data from the "Student" table{% endtrans %}</button>
	</form>
{% endblock %}
