{% extends 'base.html.twig' %}

{% block title %}Hello RankingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1>{{ message }}</h1>
    <h1>Classement</h1>


    <table class="table">
        <tr>
            <th scope="col">Elève</th>
            <th scope="col">Heure de départ</th>
            <th scope="col">Heure d'arrivée</th>
            <th scope="col">Chronomètre</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.student.firstname }} {{ row.student.lastname }}</td>
            <td>{{ start }}</td>
            <td>{{ row.end|date("Y-m-d H:i:s") }}</td>
            <td>{{ chronometres[row.getStudent().getId()] }}</td> 
        </tr>
        {% endfor %}
        {# {% for student in students %}
        <tr>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
        </tr>
        {% endfor %} #}

        {{ error_message }}
    </table>


</div>
{% endblock %}