{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		<h1>{% trans %}Register{% endtrans %}</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn">{% trans %}Register{% endtrans %}</button>
		{{ form_end(registrationForm) }}
	{% endif %}
{% endblock %}
