{% extends 'base.html.twig' %}

{% block title %}Hello Ranking2Controller!
{% endblock %}

{% block body %}
	<br/>
	<p class="text-danger">{{ error_message }}
	</p>
	<p class="text-success">{{ success_message }}
	</p>
	<p class="text-success">{{ message }}
	</p>
	<p class="text-info">{{ run_message }}
	</p>

	{{ form_start(form) }}

	{{ form_row(form.identifiant) }}

	{{ form_end(form) }}

	<div class="col">
		<button id="start" class="button" onclick="start()">Start</button>
	</div>
	<script type="text/javascript" src="./js/start.js"></script>


	<table class="table">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Classement</th>
			<th scope="col">Elève</th>
			<th scope="col">Classe</th>
			<th scope="col">Chronomètre</th>
			<th scope="col">VMA</th>
			<th scope="col">Objective</th>
			<th scope="col">Note</th>
			<th scope="col">Heure de départ</th>
			<th scope="col">Heure d'arrivée</th>
		</tr>
		{% set classement = 1 %}
		{% for row in rows %}
			<tr>
				<td>{{ row.student.id }}</td>
				<td>{{ classement }}</td>
				<td>{{ row.student.firstname }} {{ row.student.lastname }}</td>
				<td>{{ row.student.grade.level }}</td>
				{# vérifie que la variable chronometres contient une valeur pour l'étudiant correspondant à la ligne en cours #}
				{% if chronometres[row.getStudent().getId()] is defined and chronometres[row.getStudent().getId()] is not null %}
					<td>{{ chronometres[row.getStudent().getId()]|date('H:i:s') }}</td>
				{% else %}
					<td></td>
				{% endif %}
				<td>{{ row.student.mas }}</td>
				<td>{{ row.student.objective|date("H:i:s") }}</td>
				<td>{{ row.student.note }}</td>
				<td>{{ row.run.start|date("Y-m-d H:i:s") }}</td>
				<td>{{ row.end|date("Y-m-d H:i:s") }}</td>	
			</tr>
			{% set classement = classement + 1 %}
		{% endfor %}
	</table>

	<script type="text/javascript">
        window.onload = function() {
            // Sélectionne le champ "identifiant"
            var identifiantField = document.getElementById("{{ form.identifiant.vars.id }}");

            // Met en surbrillance le champ "identifiant"
            identifiantField.focus();
            identifiantField.select();
        }
    </script>
{% endblock %}
