{% extends 'base.html.twig' %}

{% block title %}Hello Ranking2Controller!{% endblock %}

{% block body %}

{{ form_start(form) }}

{{ form_row(form.identifiant) }}

{{ form_end(form) }}

<p>Code barre = {{ identifiant }}</p>

<div class="col" >            
    <button id="start" class="button" onclick="start()">Start</button>             
</div>
<script type="text/javascript" src="./js/start.js"></script>

<h1>{{ message }}</h1>
<table border="1">
    <tr>
        <th>Elève</th>
        <th>Heure de départ</th>
        <th>Heure d\'arrivée</th>
    </tr>
    <tr>
        {% if student is not null %}
        <td>{{ student.firstname }} {{ student.lastname }}</td>
        <td></td>
        {% endif %}
    </tr>

{{ error_message }}
</table>
{% endblock %}
