{% extends 'base.html.twig' %}

{% block title %}Hello Ranking2Controller!
{% endblock %}

{% block body %}

	<br/>
	<p class="text-danger">{{ error_message }}
	</p>
	<p class="text-success">{{ success_message }}
	</p>

	{{ form_start(form) }}

	{{ form_row(form.identifiant) }}

	{{ form_end(form) }}

	<div class="col">
		<button id="start" class="button" onclick="start()">Start</button>
	</div>
	<script type="text/javascript" src="./js/start.js"></script>


	<table class="table">
		<tr>
			<th scope="col">Classement</th>
			<th scope="col">Elève</th>
			<th scope="col">Heure de départ</th>
			<th scope="col">Heure d'arrivée</th>
			<th scope="col">Chronomètre</th>
		</tr>
		{% set classement = 1 %}
		{% for row in rows %}
			<tr>
				<td>{{ classement }}</td>
				<td>{{ row.student.firstname }} {{ row.student.lastname }}</td>
				<td>{{ row.run.start|date("Y-m-d H:i:s") }}</td>
				<td>{{ row.end|date("Y-m-d H:i:s") }}</td>
				<td>{{ chronometres[row.getStudent().getId()] }}</td>
                <td></td>
			</tr>
			{% set classement = classement + 1 %}
		{% endfor %}
		{{ error_message }}
	</table>
{% endblock %}
