{% extends "base.html.twig" %}

{% block title %}Kidrun - Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur KidRun</h1>
        <p class="lead">KidRun est une application utilisée pour des
            établissements
            scolaires pour leur cross afin de démarrer la course, de scanner
            leur QR-CODE pour enregistrer le chrono de l'élève en faisant
            automatiquement un classement par classes et par genre.
        </p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page du scanner de QR-CODE</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/">Home</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/student/barcode">All Create</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/create">Create one</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/scanner">Scanner</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/ranking">Ranking</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/race">Import</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/student">Students</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/filter">Filter</a>
        </p> 
    </div>
    <form action="{{ path('app_grade_delete_all') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all grades?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
		<button type="submit" class="btn btn-danger">Dump all data from the "Grade" table</button>
	</form>
    <form action="{{ path('app_race_delete_all') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all races?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
		<button type="submit" class="btn btn-danger">Dump all data from the "Race" table</button>
	</form>
    <form action="{{ path('app_ranking_delete_all') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all rankings?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
		<button type="submit" class="btn btn-danger">Dump all data from the "Ranking" table</button>
	</form>
    <form action="{{ path('app_run_delete_all') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all runs?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
		<button type="submit" class="btn btn-danger">Dump all data from the "Run" table</button>
	</form>
    <form action="{{ path('app_kidrun_delete_all') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all database?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
		<button type="submit" class="btn btn-danger">Dump all data</button>
	</form>
    
</div>
{% endblock %}