{% extends 'base.html.twig' %}

{% block title %}NDLP - Cross du collège{% endblock %}

{% block body %}
    <h1>{% trans %}Import a student list{% endtrans %}</h1>

    {{ message }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Importfilename{% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.importfilename }}</td>
                <td>
                    <a href="{{ path('app_race_show', {'id': race.id}) }}" class="btn btn-primary btn-lg" role="button">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_race_edit', {'id': race.id}) }}" class="btn btn-primary btn-lg" role="button">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_race_new') }}" class="btn btn-primary btn-lg" role="button">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
