{% extends 'base.html.twig' %}

{% block title %}NDLP - Cross du collège{% endblock %}

{% block body %}
    <h1>Race</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ race.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Importfilename{% endtrans %}</th>
                <td>{{ race.importfilename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_race_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('app_race_edit', {'id': race.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
